.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .ltr{
    direction: ltr
  }
  .justify{
    text-align: justify;
    margin: 3px 5px
  }
  .uk-badge{
    position: absolute;
    left: 0px;
  }
  #search{
    width: 100%;
    max-width: 500px;
  }