.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-family: georgia, sans-serif;
    font-size: 20px;
}
.uk-container{
    width: 100%;
}
.uk-navbar-container{
    background-color: #1f558a;
    color: white;
    ul{
        li > *{
            color: white
        }
    }
    a{
        text-decoration: none;
        color:white
    }
}