.uk-container{
    padding-top: 10px;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    mat-form-field{
        max-width: 500px;
    }
    button{
        width: 100px
    }
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-family: georgia, sans-serif;
}