
.card{
    display: inline-block;
    position: relative;
    min-width: 250px;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    z-index: 3;
    .card-header{
        align-items: center;
        padding: 10px 0;
        button{
            width: 100%;
        }
    }
    .card-footer{
        margin: 0 20px 10px;
        padding-top: 10px;
        border-top: 1px solid #eeeeee;
    }
    .card-content{
        padding: 15px 5px;
        position: relative;
        text-align: right;
        padding-top: 10px;
        .category{
            margin: 0 0 10px;
        }
    }
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-family: georgia, sans-serif;
}
.example-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    mat-form-field{
        max-width: 500px;
    }
    button{
        width: 100px
    }
}
.tbl{
    overflow-y: auto;
}
table{
    width: 100%
}