<section>
  <!-- Start Tables modals -->
  <div class="uk-column-1-2@s">
    <div>
      <!-- Start Lesson Table -->
      <div class="card">
        <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #lesson_tbl">جدول الدروس</button>
        </div>
        <!-- Start lessons table modal -->
        <div id="lesson_tbl" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">جدول الدروس</h2>
            <hr>
            <!-- Start Search method -->
            <h3 class="uk-text-center">البحث</h3>
            <div class="uk-column-1-2@s uk-column-1-3@s uk-column-1-4@s">
              <div>
                  <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                    <option *ngFor="let stage of allStages" [value]="stage.idStage">
                      {{stage.stage_name}}
                    </option>
                  </select>
              </div>
              <div>
                  <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                    <option value="">-اختر السنة-</option>
                    <option *ngFor="let year of allYears" [value]="year.idYear">
                      {{year.year_name}}
                    </option>
                  </select>
              </div>
              <div>
                  <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                    <option value="">-اختر الشعبة-</option>
                    <option *ngFor="let field of allFields" [value]="field.idField">
                      {{field.field_name}}
                    </option>
                  </select>
              </div>
              <div>
                  <select class="uk-select" name="idModule" [(ngModel)]="idModule"  placeholder="اختر المادة" (ngModelChange)="getLessons(idModule)">
                    <option value="">-اختر المادة-</option>
                    <option *ngFor="let modul of allModules" [value]="modul.idModule">
                      {{modul.module_name}}
                    </option>
                  </select>
              </div>
            </div>
            <br>
            <!-- End Search method -->
            <div class="tbl">
              <table class="uk-table uk-table-hover uk-table-divider">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>عنوان الدرس</th>
                          <th>  </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let lesson of lessons">
                          <td>{{lesson.idLesson}}</td>
                          <td>{{lesson.lesson_title}}</td>
                          <td>
                            <button class="uk-button uk-button-default uk-button-small" (click)="getLessonById(lesson.idLesson);showModal('#previewLesson',lesson.idLesson)" >مشاهدة</button> 
                            <button class="uk-button uk-button-primary uk-button-small" (click)="showModal('#editLesson',lesson.idLesson);getLessonById(lesson.idLesson)" >تعديل</button> 
                            <button class="uk-button uk-button-danger uk-button-small" (click)="showModal('#deleteLesson',lesson.idLesson)" >حذف</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End lessons table modal -->
      </div>
      <!-- End Lesson Table -->
    </div>
    <div>
      <!-- Start Subjects Table -->
      <div class="card">
          <div class="card-header">
            <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #subject_tbl">جدول المواضيع</button>
          </div>
          <!-- Start Subjects table modal -->
          <div id="subject_tbl" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">جدول المواضيع</h2>
              <hr>
              <!-- Start Search method -->
              <h3 class="uk-text-center">البحث</h3>
              <div class="uk-column-1-2@s uk-column-1-3@s uk-column-1-4@s">
                <div>
                    <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                      <option *ngFor="let stage of allStages" [value]="stage.idStage">
                        {{stage.stage_name}}
                      </option>
                    </select>
                </div>
                <div>
                    <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                      <option value="">-اختر السنة-</option>
                      <option *ngFor="let year of allYears" [value]="year.idYear">
                        {{year.year_name}}
                      </option>
                    </select>
                </div>
                <div>
                    <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                      <option value="">-اختر الشعبة-</option>
                      <option *ngFor="let field of allFields" [value]="field.idField">
                        {{field.field_name}}
                      </option>
                    </select>
                </div>
                <div>
                    <select class="uk-select" name="idModule" [(ngModel)]="idModule"  placeholder="اختر المادة" (ngModelChange)="getSubjects(idModule)">
                      <option value="">-اختر المادة-</option>
                      <option *ngFor="let modul of allModules" [value]="modul.idModule">
                        {{modul.module_name}}
                      </option>
                    </select>
                </div>
              </div>
              <br>
              <!-- End Search method -->
              <div class="tbl">
                <table class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان الموضوع</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subject of subjects">
                            <td>{{subject.idSubject}}</td>
                            <td>{{subject.subject_title}}</td>
                            <td>
                              <button class="uk-button uk-button-default uk-button-small" (click)="getSubjectById(subject.idSubject);showModal('#previewSubject',subject.idSubject);getSolution(subject.idSubject)" >مشاهدة</button> 
                              <button class="uk-button uk-button-secondary uk-button-small" (click)="showModal('#solutionModal',subject.idSubject)" >اضافة حل</button> 
                              <button class="uk-button uk-button-primary uk-button-small" (click)="getSubjectById(subject.idSubject);showModal('#editSubject',subject.idSubject)" >تعديل</button> 
                              <button class="uk-button uk-button-danger uk-button-small" (click)="showModal('#deleteSubject',subject.idSubject)" >حذف</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End subject table modal -->
        </div>
      <!-- End Subjects Table -->
    </div>
  </div>
  <!-- End Tables Modals -->
</section>
<section>
  <!-- Start add solution Modal -->
  <div id="solutionModal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title"> اضافة حل</h2>
      <form>
        <div class="card-content">
          <input class="uk-input" type="text" [(ngModel)]="solLink" required name="solLink" placeholder="رابط الحل">
          <br>
          <input class="uk-input" type="text" [(ngModel)]="imgUrl" required name="imgUrl" placeholder="رابط صورة الحل">
          <br>
        </div>
        <div class="card-footer">
          <button mat-button color="primary" (click)="addSolution(imgUrl,solLink)">اضافة الحل</button>
        </div>
      </form>
    </div>
  </div>
  <!-- End add Solution Modal -->
</section>
<!-- Start Preview  Modal -->
<section>
  <!-- Start lesson preview -->
  <div id="previewLesson" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <div class="uk-card uk-card-default" *ngIf="lesson">
        <div class="uk-card-header">
          <h2 class="uk-text-center">{{lesson.lesson_title}}</h2>
        </div>
        <div class="uk-card-body">
          <img class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{{lesson.imgUrl}}" uk-img>
          <a target="_blank" href="{{lesson.lesson_link}}">تحميل الدرس</a>
        </div>
        <div class="uk-card-footer">
          <p class="uk-article-meta">{{lesson.discrib}}</p>
          <button mat-button color="accent" (click)="hideModal('#previewLesson');showModal('#lesson_tbl')">اغلاق</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Lesson preview -->
  <!-- Start Subject preview -->
  <div id="previewSubject" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <div class="uk-card uk-card-default" *ngIf="subject">
        <div class="uk-card-header">
          <h2 class="uk-text-center">{{subject.subject_title}}</h2>
        </div>
        <div class="uk-card-body">
          <img class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{{subject.img_url}}" uk-img>
          <a target="_blank" href="{{subject.subject_link}}">تحميل الموضوع</a> <br>
          <a *ngIf="solution" (click)="showModal('#previewSolution',subject.idSubject)"> مشاهدة الحل</a>
        </div>
        <div class="uk-card-footer">
          <p class="uk-article-meta">{{subject.discrib}}</p>
          <button mat-button color="accent" (click)="hideModal('#previewSubject');showModal('#subject_tbl')">اغلاق</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Subject preview -->
  <!-- Start solution preview -->
  <div id="previewSolution" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <div class="uk-card uk-card-default" *ngIf="solution">
        <div class="uk-card-header">
          <h2 class="uk-text-center">حل موضوع : {{solution.subject_title}}</h2>
        </div>
        <div class="uk-card-body">
          <img class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{{solution.imgUrl}}" uk-img>
          <a target="_blank" href="{{solution.solution_link}}">تحميل الحل</a>
        </div>
        <div class="uk-card-footer">
            <button mat-button color="primary" (click)="showModal('#editSolution',solution.idSolution)">تعديل</button>
          <button mat-button color="accent" (click)="hideModal('#previewSolution');showModal('#previewSubject')">اغلاق</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End solution preview -->
</section>
<!-- End Preview  Modal -->
<!-- Start Edits Modals -->
<section>
  <!-- Start Edit lesson Modal -->
  <div id="editLesson" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <h2 class="uk-modal-title"> تعديل درس</h2>
      <form *ngIf="lesson">
        <div class="card-content">
          <br>
            <input class="uk-input" type="text" required [(ngModel)]="lesson.lesson_title" name="lesson.lesson_title"  placeholder="عنوان الدرس ">
            <div class="uk-column-1-2@s">
              <input class="uk-input" type="text" required [(ngModel)]="lesson.lesson_link" name="lesson.lesson_link"  placeholder="رابط الدرس">
              <input class="uk-input" type="text" required [(ngModel)]="lesson.imgUrl" name="lesson.imgUrl"  placeholder="رابط صورة للدرس">
            </div>
            <textarea class="uk-textarea" required [(ngModel)]="lesson.discrib" name="lesson.discrib" rows="5" placeholder="وصف للدرس"></textarea>
          <br>
        </div>
        <div class="card-footer">
          <button mat-button color="primary" (click)="editLesson()">تحديث</button>
          <button mat-button color="accent" (click)="hideModal('#editLesson');showModal('#lesson_tbl')">اغلاق</button>
        </div>
      </form>
    </div>
  </div>
  <!-- End Edit lesson modal -->
  <!-- Start Edit Subject Modal -->
  <div id="editSubject" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"> تعديل موضوع</h2>
        <form *ngIf="lesson">
          <div class="card-content">
            <br>
              <input class="uk-input" type="text" required [(ngModel)]="subject.subject_title" name="subject.subject_title"  placeholder="عنوان الدرس ">
              <div class="uk-column-1-2@s">
                <input class="uk-input" type="text" required [(ngModel)]="subject.subject_link" name="subject.subject_link"  placeholder="رابط الدرس">
                <input class="uk-input" type="text" required [(ngModel)]="subject.img_url" name="subject.img_url"  placeholder="رابط صورة للدرس">
              </div>
              <textarea class="uk-textarea" required [(ngModel)]="subject.discrib" name="subject.discrib" rows="5" placeholder="وصف للدرس"></textarea>
            <br>
          </div>
          <div class="card-footer">
            <button mat-button color="primary" (click)="editSubject()">تحديث</button>
            <button mat-button color="accent" (click)="hideModal('#editSubject');showModal('#subject_tbl')">اغلاق</button>
          </div>
        </form>
      </div>
    </div>
    <!-- End Edit Subject modal -->
    <!-- Start Edit Solution Modal -->
  <div id="editSolution" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"> تعديل موضوع</h2>
        <form *ngIf="solution">
          <div class="card-content">
            <br>
              <div class="uk-column-1-2@s">
                <input class="uk-input" type="text" required [(ngModel)]="solution.solution_link" name="solution.solution_link"  placeholder="رابط الدرس">
                <input class="uk-input" type="text" required [(ngModel)]="solution.imgUrl" name="solution.imgUrl"  placeholder="رابط صورة للدرس">
              </div>
            <br>
          </div>
          <div class="card-footer">
            <button mat-button color="primary" (click)="editSolution()">تحديث</button>
            <button mat-button color="accent" (click)="hideModal('#editSolution');showModal('#previewSolution')">اغلاق</button>
          </div>
        </form>
      </div>
    </div>
    <!-- End Edit Solution modal -->
</section>
<!-- End Edits Modals -->
<!-- Start Deletes modals -->
<section>
  <!-- Start delete lesson -->
  <div id="deleteLesson" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <p class="uk-text-center"> هل أنت متأكد من حذف هذا الدرس ؟</p>
      <br>
      <div class="uk-column-1-2@s">
        <button class="uk-button uk-button-danger uk-button-small" (click)="deleteLesson()">حذف</button>
        <button class="uk-button uk-button-default uk-button-small" (click)="hideModal('#deleteLesson');showModal('#lesson_tbl')">الغاء</button>
      </div>
    </div>
  </div>
  <!-- End delete lesson -->
  <!-- Start delete subject -->
  <div id="deleteSubject" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <p class="uk-text-center"> هل أنت متأكد من حذف هذا الموضوع ؟</p>
        <br>
        <div class="uk-column-1-2@s">
          <button class="uk-button uk-button-danger uk-button-small" (click)="deleteSubject()">حذف</button>
          <button class="uk-button uk-button-default uk-button-small" (click)="hideModal('#deleteSubject');showModal('#subject_tbl')">الغاء</button>
        </div>
      </div>
    </div>
    <!-- End delete subject -->
  
</section>
<!-- End Delete Modals -->
<section>
  <div class="uk-column-1-2@s uk-column-1-3@m">
    <!-- Start Add Stage -->
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #stage">اضافة طور</button>
      </div>
      <!-- Start Stage Modal -->
      <div id="stage" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة طور</h2>
          <form>
            <div class="card-content">
              <input class="uk-input" type="text" [(ngModel)]="stageName" required name="stageName" placeholder="اسم الطور">
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addStage()">اضافة الطور</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Stage Modal -->
    </div>
    <!-- End Add Stage -->
    <!-- Start Add year -->  
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #year; animation: uk-animation-fade">اضافة سنة</button>
      </div>
      <!-- Start Year Modal -->
      <div id="year" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة سنة</h2>
          <form>
            <div class="card-content">
              <select class="uk-select" name="idStage" [(ngModel)]="idStage" value="اختر الطور">
                <option *ngFor="let stage of allStages" [value]="stage.idStage">
                  {{stage.stage_name}}
                </option>
              </select>
              <br>
              <input class="uk-input" type="text" required [(ngModel)]="yearName" name="yearName" placeholder="اسم السنة">
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addYear()">اضافة سنة</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Year Modal -->
    </div>
    <!-- End Add year -->
    <!-- Start Add field -->
    <div class="card">
      <div class="card-header">
        <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #field; animation: uk-animation-fade">اضافة شعبة</button>
      </div>
      <!-- Start Field Modal -->
      <div id="field" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة شعبة</h2>
          <div class="example-container">
            <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
              <option *ngFor="let stage of allStages" [value]="stage.idStage">
                {{stage.stage_name}}
              </option>
            </select>
            <br>
            <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة">
              <option *ngFor="let year of allYears" [value]="year.idYear">
                {{year.year_name}}
              </option>
            </select>
            <br>
            <input class="uk-input" type="text" required [(ngModel)]="fieldName" name="fieldName" placeholder="اسم الشعبة">
            <br>
            <button mat-button color="primary" type="button" (click)="addField()">اضافة شعبة</button>  
          </div>
        </div>
      </div>
      <!-- End Field Modal -->
    </div>
    <!-- End Add field -->
  </div>
</section>

<section>
  <div class="uk-column-1-2@s uk-column-1-3@m">
    <!-- Start Add Module -->
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #module; animation: uk-animation-fade">اضافة مادة</button>
      </div>
      <!-- Start Module modal -->
      <div id="module" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة مادة</h2>
          <form>
            <div class="card-content">
                <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                  <option *ngFor="let stage of allStages" [value]="stage.idStage">
                    {{stage.stage_name}}
                  </option>
                </select>
              <br>
                <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                  <option *ngFor="let year of allYears" [value]="year.idYear">
                    {{year.year_name}}
                  </option>
                </select>
              <br>
                  <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة">
                    <option *ngFor="let field of allFields" [value]="field.idField">
                      {{field.field_name}}
                    </option>
                  </select>
                <br>
                <input class="uk-input" type="text" [(ngModel)]="moduleName" required name="moduleName" placeholder="اسم المادة">
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addModule()">اضافة المادة</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Module Modal -->
    </div>
    <!-- End Add Module -->
    <!-- Start Add subject -->  
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #subject; animation: uk-animation-fade">اضافة موضوع</button>
      </div>
      <!-- Start Subjects Modal -->
      <div id="subject" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة موضوع</h2>
          <form>
            <div class="card-content">
                  <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                    <option *ngFor="let stage of allStages" [value]="stage.idStage">
                      {{stage.stage_name}}
                    </option>
                  </select>
                <br>
                  <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                    <option value="">-اختر السنة-</option>
                    <option *ngFor="let year of allYears" [value]="year.idYear">
                      {{year.year_name}}
                    </option>
                  </select>
                <br>
                  <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                    <option value="">-اختر الشعبة-</option>
                    <option *ngFor="let field of allFields" [value]="field.idField">
                      {{field.field_name}}
                    </option>
                  </select>
                <br>
                    <select class="uk-select" name="idModule" [(ngModel)]="subject.idModule"  placeholder="اختر المادة">
                      <option *ngFor="let modul of allModules" [value]="modul.idModule">
                        {{modul.module_name}}
                      </option>
                    </select>
              <br>
                <input class="uk-input" type="text" required [(ngModel)]="subject.subject_title" name="subjectTitle" placeholder="عنوان الموضوع ">
              <div class="uk-column-1-2@s">
                <input class="uk-input" type="text" required [(ngModel)]="subject.subject_link" name="subject_link" placeholder="رابط الموضوع">
                <input class="uk-input" type="text" required [(ngModel)]="subject.img_url" name="img_url" placeholder="رابط صورة للموضوع ">
              </div>
              <textarea name="describ" rows="5" required class="uk-textarea" [(ngModel)]="subject.describ" placeholder="وصف الموضوع"></textarea>
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addSubject()">اضافة موضوع</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Subjects Modal -->
    </div>
    <!-- End Add subject -->
<!-- Start Add lesson -->  
<div class="card">
    <div class="card-header">
        <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #lesson; animation: uk-animation-fade">اضافة درس</button>
    </div>
    <!-- Start Lessons Modal -->
    <div id="lesson" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"> اضافة موضوع</h2>
        <form>
          <div class="card-content">
                <select name="idStage" class="uk-select" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                  <option *ngFor="let stage of allStages" [value]="stage.idStage">
                    {{stage.stage_name}}
                  </option>
                </select>
              <br>
                <select name="idYear" class="uk-select" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                  <option *ngFor="let year of allYears" [value]="year.idYear">
                    {{year.year_name}}
                  </option>
                </select>
              <br>
                <select name="idField" class="uk-select" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                  <option *ngFor="let field of allFields" [value]="field.idField">
                    {{field.field_name}}
                  </option>
                </select>
              <br>
                <select class="uk-select" name="idModule" [(ngModel)]="lesson.idModule"  placeholder="اختر المادة">
                  <option *ngFor="let modul of allModules" [value]="modul.idModule">
                    {{modul.module_name}}
                  </option>
                </select>
            <br>
              <input class="uk-input" type="text" required [(ngModel)]="lesson.lesson_title" name="lesson_title" placeholder="عنوان الدرس ">
              <div class="uk-column-1-2@s">
                <input class="uk-input" type="text" required [(ngModel)]="lesson.lesson_link" name="lesson_link" placeholder="رابط الدرس">
                <input class="uk-input" type="text" required [(ngModel)]="lesson.imgUrl" name="imgUrl" placeholder="رابط صورة للدرس">
              </div>
              <textarea class="uk-textarea" required [(ngModel)]="lesson.discrib" name="discrib" rows="5" placeholder="وصف للدرس"></textarea>
            <br>
          </div>
          <div class="card-footer">
            <button mat-button color="primary" (click)="addLesson()">اضافة درس</button>
          </div>
        </form>
      </div>
        <!-- End Lessons Modal -->
    </div>
  </div>
  <!-- End Add lesson -->
  </div>
</section>