<section>
  <!-- Start Tables modals -->
  <div class="uk-column-1-2@s">
    <div>
      <!-- Start Lesson Table -->
      <div class="card">
        <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #lesson_tbl">جدول الدروس</button>
        </div>
        <!-- Start lessons table modal -->
        <div id="lesson_tbl" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">جدول الدروس</h2>
            <hr>
            <!-- Start Search method -->
            <h3 class="uk-text-center">البحث</h3>
            <div class="uk-column-1-2@s uk-column-1-3@s uk-column-1-4@s">
              <div>
                  <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                    <option *ngFor="let stage of allStages" [value]="stage.idStage">
                      {{stage.stage_name}}
                    </option>
                  </select>
              </div>
              <div>
                  <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                    <option value="">-اختر السنة-</option>
                    <option *ngFor="let year of allYears" [value]="year.idYear">
                      {{year.year_name}}
                    </option>
                  </select>
              </div>
              <div>
                  <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                    <option value="">-اختر الشعبة-</option>
                    <option *ngFor="let field of allFields" [value]="field.idField">
                      {{field.field_name}}
                    </option>
                  </select>
              </div>
              <div>
                  <select class="uk-select" name="idModule" [(ngModel)]="idModule"  placeholder="اختر المادة" (ngModelChange)="getLessons(idModule)">
                    <option *ngFor="let modul of allModules" [value]="modul.idModule">
                      {{modul.module_name}}
                    </option>
                  </select>
              </div>
            </div>
            <br>
            <!-- End Search method -->
            <div class="tbl">
              <table class="uk-table uk-table-hover uk-table-divider">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>عنوان الدرس</th>
                          <th>  </th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let lesson of lessons">
                          <td>{{lesson.idLesson}}</td>
                          <td>{{lesson.lesson_title}}</td>
                          <td>
                            <button class="uk-button uk-button-default uk-button-small" (click)="showModal('#previewLesson',lesson.idLesson);getLessonById(lesson.idLesson)" >مشاهدة</button> 
                            <button class="uk-button uk-button-primary uk-button-small" (click)="showModal('#editLesson',lesson.idLesson)" >تعديل</button> 
                            <button class="uk-button uk-button-danger uk-button-small" (click)="deleteLesson(lesson.idLesson)" >حذف</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- End lessons table modal -->
      </div>
      <!-- End Lesson Table -->
    </div>
    <div>
      <!-- Start Subjects Table -->
      <div class="card">
          <div class="card-header">
            <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #subject_tbl">جدول المواضيع</button>
          </div>
          <!-- Start Subjects table modal -->
          <div id="subject_tbl" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">
              <h2 class="uk-modal-title">جدول المواضيع</h2>
              <hr>
              <!-- Start Search method -->
              <h3 class="uk-text-center">البحث</h3>
              <div class="uk-column-1-2@s uk-column-1-3@s uk-column-1-4@s">
                <div>
                    <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                      <option *ngFor="let stage of allStages" [value]="stage.idStage">
                        {{stage.stage_name}}
                      </option>
                    </select>
                </div>
                <div>
                    <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                      <option value="">-اختر السنة-</option>
                      <option *ngFor="let year of allYears" [value]="year.idYear">
                        {{year.year_name}}
                      </option>
                    </select>
                </div>
                <div>
                    <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                      <option value="">-اختر الشعبة-</option>
                      <option *ngFor="let field of allFields" [value]="field.idField">
                        {{field.field_name}}
                      </option>
                    </select>
                </div>
                <div>
                    <select class="uk-select" name="idModule" [(ngModel)]="idModule"  placeholder="اختر المادة" (ngModelChange)="getSubjects(idModule)">
                      <option *ngFor="let modul of allModules" [value]="modul.idModule">
                        {{modul.module_name}}
                      </option>
                    </select>
                </div>
              </div>
              <br>
              <!-- End Search method -->
              <div class="tbl">
                <table class="uk-table uk-table-hover uk-table-divider">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان الموضوع</th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subject of subjects">
                            <td>{{subject.idSubject}}</td>
                            <td>{{subject.subject_title}}</td>
                            <td>
                              <button class="uk-button uk-button-default uk-button-small" (click)="showModal('#previewSubject',subject.idSubject);getSubjectById(subject.idSubject)" >مشاهدة</button> 
                              <button class="uk-button uk-button-secondary uk-button-small" (click)="showModal('#solutionModal',subject.idSubject);addSolution(subject.idSubject)" >اضافة حل</button> 
                              <button class="uk-button uk-button-primary uk-button-small" (click)="showModal('#editSubject',subject.idSubject)" >تعديل</button> 
                              <button class="uk-button uk-button-danger uk-button-small" (click)="deleteSubject(subject.idSubject)" >حذف</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- End lessons table modal -->
        </div>
      <!-- End Subjects Table -->
    </div>
  </div>
  <!-- End Tables Modals -->
</section>
<!-- Start Preview  Modal -->
<section>
  <!-- Start lesson preview -->
  <div id="previewLesson" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
      <div class="uk-card uk-card-default" *ngIf="lesson">
        <div class="uk-card-header">
          <h2 class="uk-text-center">{{lesson[0].lesson_title}}</h2>
        </div>
        <div class="uk-card-body">
          <img class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="{{lesson[0].imgUrl}}" uk-img>
          <a target="_blank" href="{{lesson[0].lesson_link}}">تحميل الدرس</a>
        </div>
        <div class="uk-card-footer">
          <p class="uk-article-meta">{{lesson[0].discrib}}</p>
          <button mat-button color="accent" (click)="hideModal('#previewLesson');showModal('#lesson_tbl')">اغلاق</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Lesson preview -->
</section>
<!-- Start Preview  Modal -->
<section>
  <div class="uk-column-1-2@s uk-column-1-3@m">
    <!-- Start Add Stage -->
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #stage">اضافة طور</button>
      </div>
      <!-- Start Stage Modal -->
      <div id="stage" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة طور</h2>
          <form>
            <div class="card-content">
              <input class="uk-input" type="text" [(ngModel)]="stageName" required name="stageName" placeholder="اسم الطور">
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addStage()">اضافة الطور</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Stage Modal -->
    </div>
    <!-- End Add Stage -->
    <!-- Start Add year -->  
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #year; animation: uk-animation-fade">اضافة سنة</button>
      </div>
      <!-- Start Year Modal -->
      <div id="year" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة سنة</h2>
          <form>
            <div class="card-content">
              <select class="uk-select" name="idStage" [(ngModel)]="idStage" value="اختر الطور">
                <option *ngFor="let stage of allStages" [value]="stage.idStage">
                  {{stage.stage_name}}
                </option>
              </select>
              <br>
              <input class="uk-input" type="text" required [(ngModel)]="yearName" name="yearName" placeholder="اسم السنة">
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addYear()">اضافة سنة</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Year Modal -->
    </div>
    <!-- End Add year -->
    <!-- Start Add field -->
    <div class="card">
      <div class="card-header">
        <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #field; animation: uk-animation-fade">اضافة شعبة</button>
      </div>
      <!-- Start Field Modal -->
      <div id="field" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة شعبة</h2>
          <div class="example-container">
            <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
              <option *ngFor="let stage of allStages" [value]="stage.idStage">
                {{stage.stage_name}}
              </option>
            </select>
            <br>
            <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة">
              <option *ngFor="let year of allYears" [value]="year.idYear">
                {{year.year_name}}
              </option>
            </select>
            <br>
            <input class="uk-input" type="text" required [(ngModel)]="fieldName" name="fieldName" placeholder="اسم الشعبة">
            <br>
            <button mat-button color="primary" type="button" (click)="addField()">اضافة شعبة</button>  
          </div>
        </div>
      </div>
      <!-- End Field Modal -->
    </div>
    <!-- End Add field -->
  </div>
</section>

<section>
  <div class="uk-column-1-2@s uk-column-1-3@m">
    <!-- Start Add Module -->
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #module; animation: uk-animation-fade">اضافة مادة</button>
      </div>
      <!-- Start Module modal -->
      <div id="module" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة مادة</h2>
          <form>
            <div class="card-content">
                <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                  <option *ngFor="let stage of allStages" [value]="stage.idStage">
                    {{stage.stage_name}}
                  </option>
                </select>
              <br>
                <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                  <option *ngFor="let year of allYears" [value]="year.idYear">
                    {{year.year_name}}
                  </option>
                </select>
              <br>
                  <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة">
                    <option *ngFor="let field of allFields" [value]="field.idField">
                      {{field.field_name}}
                    </option>
                  </select>
                <br>
                <input class="uk-input" type="text" [(ngModel)]="moduleName" required name="moduleName" placeholder="اسم المادة">
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addModule()">اضافة المادة</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Module Modal -->
    </div>
    <!-- End Add Module -->
    <!-- Start Add subject -->  
    <div class="card">
      <div class="card-header">
          <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #subject; animation: uk-animation-fade">اضافة موضوع</button>
      </div>
      <!-- Start Subjects Modal -->
      <div id="subject" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title"> اضافة موضوع</h2>
          <form>
            <div class="card-content">
                  <select class="uk-select" name="idStage" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                    <option *ngFor="let stage of allStages" [value]="stage.idStage">
                      {{stage.stage_name}}
                    </option>
                  </select>
                <br>
                  <select class="uk-select" name="idYear" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                    <option value="">-اختر السنة-</option>
                    <option *ngFor="let year of allYears" [value]="year.idYear">
                      {{year.year_name}}
                    </option>
                  </select>
                <br>
                  <select class="uk-select" name="idField" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                    <option value="">-اختر الشعبة-</option>
                    <option *ngFor="let field of allFields" [value]="field.idField">
                      {{field.field_name}}
                    </option>
                  </select>
                <br>
                    <select class="uk-select" name="idModule" [(ngModel)]="idModule"  placeholder="اختر المادة">
                      <option *ngFor="let modul of allModules" [value]="modul.idModule">
                        {{modul.module_name}}
                      </option>
                    </select>
              <br>
                <input class="uk-input" type="text" required [(ngModel)]="subjectTitle" name="subjectTitle" placeholder="عنوان الموضوع ">
              <div class="uk-column-1-2@s">
                <input class="uk-input" type="text" required [(ngModel)]="subjectLink" name="subjectLink" placeholder="رابط الموضوع">
                <input class="uk-input" type="text" required [(ngModel)]="subjecImg" name="subjecImg" placeholder="رابط صورة للموضوع ">
              </div>
              <textarea name="describ" rows="5" required class="uk-textarea" [(ngModel)]="describ" placeholder="وصف الموضوع"></textarea>
              <br>
            </div>
            <div class="card-footer">
              <button mat-button color="primary" (click)="addSubject(subjectTitle,subjecImg,subjectLink,describ)">اضافة موضوع</button>
            </div>
          </form>
        </div>
      </div>
      <!-- End Subjects Modal -->
    </div>
    <!-- End Add subject -->
<!-- Start Add lesson -->  
<div class="card">
    <div class="card-header">
        <button href="#toggle-animation" class="uk-button uk-button-default" type="button" uk-toggle="target: #lesson; animation: uk-animation-fade">اضافة درس</button>
    </div>
    <!-- Start Lessons Modal -->
    <div id="lesson" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title"> اضافة موضوع</h2>
        <form>
          <div class="card-content">
                <select name="idStage" class="uk-select" [(ngModel)]="idStage" (ngModelChange)="getYears(idStage)" placeholder="اختر الطور">
                  <option *ngFor="let stage of allStages" [value]="stage.idStage">
                    {{stage.stage_name}}
                  </option>
                </select>
              <br>
                <select name="idYear" class="uk-select" [(ngModel)]="idYear"  placeholder="اختر السنة" (ngModelChange)="getFields(idYear)">
                  <option *ngFor="let year of allYears" [value]="year.idYear">
                    {{year.year_name}}
                  </option>
                </select>
              <br>
                <select name="idField" class="uk-select" [(ngModel)]="idField"  placeholder="اختر الشعبة" (ngModelChange)="getModules(idField)">
                  <option *ngFor="let field of allFields" [value]="field.idField">
                    {{field.field_name}}
                  </option>
                </select>
              <br>
                <select class="uk-select" name="idModule" [(ngModel)]="idModule"  placeholder="اختر المادة">
                  <option *ngFor="let modul of allModules" [value]="modul.idModule">
                    {{modul.module_name}}
                  </option>
                </select>
            <br>
              <input class="uk-input" type="text" required [(ngModel)]="lessonTitle" name="lessonTitle" placeholder="عنوان الدرس ">
              <div class="uk-column-1-2@s">
                <input class="uk-input" type="text" required [(ngModel)]="lessonLink" name="lessonLink" placeholder="رابط الدرس">
                <input class="uk-input" type="text" required [(ngModel)]="limgUrl" name="limgUrl" placeholder="رابط صورة للدرس">
              </div>
              <textarea class="uk-textarea" required [(ngModel)]="ldiscrib" name="ldiscrib" rows="5" placeholder="وصف للدرس"></textarea>
            <br>
          </div>
          <div class="card-footer">
            <button mat-button color="primary" (click)="addLesson(idModule,lessonTitle,lessonLink,limgUrl,ldiscrib)">اضافة درس</button>
          </div>
        </form>
      </div>
        <!-- End Lessons Modal -->
    </div>
  </div>
  <!-- End Add lesson -->
  </div>
</section>